/* Override the default brand color to green */
:root {
  /* --vp-button-brand-bg: var(--vp-c-green-1); */
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-default-2: var(--vp-c-green-2);
  --vp-button-brand-hover-bg: var(--vp-c-green-2);
}
